@import "../../assets/css/variables";

.mainDiv {
  width: 250px;
  background-color: $SecondaryBgColor;
  // height: 100vh;
	height: calc(100vh - 94px);
  color: aliceblue;
  padding: 30px 0px;
	position: relative;

  .logo {
    padding: 0 30px;
  }

  .Navbar {
    .nav-item {
      border-right: 7px solid transparent;
      display: flex; 
      align-items: center;
      padding: 15px 30px;
      // background-color: red;
      &:hover {
        border-color: $themeColor;
        background-color: $TertiaryBgColor;
        a {
          color: $white-primary;
        }
      }
      img {
				width: 24px;
				margin-right: 10px;
				height: 24px;
        // background-color: aqua;
				// margin-bottom: -5px;
      }
      a {
        display: flex;
        color: $White_Tertiary;
				line-height: 24px;
        span{
          // background-color: blue;
        }
      }
    }
  }
	
	.profileNav{
		position: absolute;
		bottom: 0;
		left: 0px;
		width: 100%;
	}
}
