@import "../../assets/css/variables";


.playercontrol{
  flex: 6;
  display: flex;
  flex-direction: column;
  gap: 7px;
  .controls{
    align-self: center;
    align-items: center;
    display: flex;
    .heartIcon{
      width: 38px;
      height: 38px;
    }
  }
  .playbar{
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: #D1D1D1;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.56px;

    input[type='range'] {
      width:25vw;
      height: 4px;
      // -webkit-appearance: none;
      // background-color:#D1D1D1 ;
    }

   
  }
}